<%= form_for :article, url: articles_path do |f| %>

<table border="1">
    <th>
        <th>음식이름</th><th>칼로리</th><th>날짜</th>
    </th>
<% @article.each do |article| %>
  <tr>
    <td><%= article.name %></td>
    <td><%= article.food %></td>
    <td><%= article.calorie %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Back', articles_path %>