
<div class="navbar">
  <a href="#home"></a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
</div>

<div class="row">
  <div class="column side"></div>
  <div class="column middle">  
  <%= link_to '새글 작성하기', new_member_path %>

  <% @member.each do |member| %>
    <%#페이지를 디자인 하고 데이터를 넣고 싶은 장소를 설정함%>
  
  
      <%= member.id %>
      <%= member.food %>
      <%= link_to '보기', member_path(member) %>
      <%= link_to '수정', edit_member_path(member) %>
      <%= link_to '삭제', member_path(member),
              method: :delete,
              data: { confirm: '다이어리 삭제' } %>
    
    </div>
    <% end %>
    <div class="column side"></div>
</div>